.cover-pic img {
  display: block;
  width: 98%;
  padding: 1% 1%;
  display: inline-block;
}
.gradline {
  height: 20px;
  border: 0;
  box-shadow: inset 0 12px 12px -12px rgba(9, 84, 132);
}
h1 {
  color: red;
  font-size: 2em;
  padding: 1% 0%;
  text-align: center;
  font-family: sans-serif;
}
.roundy1 {
  height: 30px;
  border-style: solid;
  border-color: #095484;
  border-width: 1px 0 0 0;
  border-radius: 50px;
}
.roundy2 {
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: #095484;
  border-width: 0 0 1px 0;
  border-radius: 20px;
  padding-top: 1%
}
nav {
  text-align: center;
  margin: auto;
}
.menu li a {
  color: lightblue;
  font-family: sans-serif;
  text-decoration: none;
}
.menu li a:hover {
  color: blue;
  text-decoration: underline;
}
.menu li {
  display: inline-block;
}
.menu li {
  margin: auto;
  padding: 1% 4%;
}
@media screen and (min-width: 900px) {
  .menu li a {
    font-size: 2em;
  }
  h1 {
    font-size: 2em;
  }
}
